* {
	margin: 0%;
	padding: 0%;
	font-family: "Product Sans";
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	min-height: 100vh;
	font-size: 62.5%;
}

#main {
	width: 100%;
	height: 100vh;
	background-color: #1c2431;
	border-top: 0.1rem solid transparent;
}

a {
	color: white;
	text-decoration: none;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 5rem;
	margin-top: 1rem;
	padding: 0.7rem 7rem;
	color: white;
}

#lnav {
	width: 9%;
	font-size: 2rem;
}

#lnav > i {
	display: none;
}

#cnav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.8rem;
	width: 35%;
	margin-top: 0.8rem;
}

#cnav > h1 {
	display: none;
}

#cnav > a:nth-child(1) {
	color: #ffa000;
}

.dot {
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background-color: #fff;
}

#rnav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.8rem;
	width: 5%;
	margin-top: 0.8rem;
}

#text {
	position: absolute;
	top: 55%;
	left: 35%;
	transform: translate(-50%, -50%);
	width: 55%;
	height: 75%;
}

#text h1 {
	font-family: "Arial";
	font-size: 13rem;
	font-weight: 900;
	opacity: 0.2;
	letter-spacing: -0.5rem;
	margin-top: -3rem;
}

#text h2 {
	font-size: 9rem;
	margin-top: -7.5rem;
	margin-left: 0.3rem;
	color: white;
}

#text h2:nth-child(3) {
	margin-left: 0.3rem;
	margin-top: -3rem;
	color: #ffa000;
}

#lorem {
	font-size: 1.4rem;
	width: 45%;
	margin-top: 1rem;
	margin-left: 0.7rem;
	color: white;
}

#dscvr {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 23%;
	height: 4rem;
	margin-top: 4rem;
	margin-left: 0.7rem;
}

button {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: none;
	background-color: #52565e;
}

.crcl {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3.3rem;
	height: 3.3rem;
	border-radius: 50%;
	background-color: #35383d;
	font-size: 2.2rem;
	color: #ffa000;
}

#dscvr h6 {
	font-size: 1.3rem;
	color: white;
	margin-left: 1rem;
}

#last {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 30%;
	font-size: 1.3rem;
	color: white;
	opacity: 0.5;
	margin-top: 7rem;
	margin-left: 1.4rem;
}

#last h6 {
	font-weight: 100;
}

#line {
	width: 8rem;
	height: 0.1rem;
	background-color: #fff;
}

#images {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	right: 20%;
	top: 55%;
	transform: translate(50%, -50%);
	width: 23%;
	height: 85%;
}

#images img:nth-child(1) {
	margin-top: -5rem;
	height: 75%;
	width: 30%;
}

#images img:nth-child(3) {
	height: 95%;
	width: 30%;
}

#images img:nth-child(4) {
	margin-top: 12rem;
	height: 65%;
	width: 30%;
}

@media (max-width: 500px) {
	body {
		font-size: 45%;
	}

	nav {
		position: relative;
		padding: 0.7rem 2rem;
	}

	#lnav > i {
		display: block;
	}

	#lnav h1 {
		display: none;
	}

	#cnav > h1 {
		font-size: 2.2rem;
		display: block;
		margin-bottom: 0.5rem;
	}

	#cnav > a {
		display: none;
	}

	#cnav > .dot {
		display: none;
	}

	#rnav .ri-user-3-fill {
		display: none;
	}

	#text {
		text-align: center;
		left: 50%;
		width: 90%;
		height: 80%;
		background-color: rgba(245, 245, 220, 0.171);
	}

	#text h1 {
		margin-top: -1.5rem;
		font-size: 4rem;
		letter-spacing: -0.2rem;
	}

	#text h2 {
		font-size: 3.5rem;
		margin: -2rem 0%;
	}

	#text h2:nth-child(3) {
		margin-left: 0rem;
		margin-top: 0.9rem;
	}

	#images {
		right: 50%;
		top: 60%;
		width: 90%;
		height: 55%;
	}

	#images img:nth-child(1) {
		position: relative;
		margin-top: -10rem;
		margin-left: -7.4rem;
		height: 65%;
		width: 19%;
	}

	#images img:nth-child(3) {
		display: none;
	}

	#images img:nth-child(4) {
		margin-top: 4rem;
		margin-right: -27rem;
		width: 20%;
	}

	#images button {
		width: 3rem;
		height: 3rem;
	}

	.crcl {
		width: 2.3rem;
		height: 2.3rem;
		font-size: 1.4rem;
	}

	#images button:nth-child(2) {
		position: absolute;
		top: 67%;
		left: 12%;
		transform: translate(-50%, -50%);
	}

	#lorem {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.2rem;
		width: 11.5rem;
		margin: 0rem;
	}

	#dscvr {
		display: none;
	}
}
